
<header>
    <section class="container">
        <div class="row">
            <div class="col-md-5 col-xs-2 ">
                <div id="mobile"></div>
                <nav id="menu" ng-show="USER">
                    <li>
                        <a ng-click="hideMobile()" class="{{page=='live'?'selected':''}}" href="/live">Live</a>
                    </li>
                    <li>
                        <a ng-click="hideMobile()" class="{{page=='photo'?'selected':''}}" href="/photo">Photo</a>
                    </li>
                    <li>
                        <a ng-click="hideMobile()" class="{{page=='plan'?'selected':''}}" href="/plan">Plan</a>
                    </li>
                    <li>
                        <a ng-click="hideMobile()" class="{{page=='filter'?'selected':''}}" href="/filter" ng-show="USER.type.id==1">Filter</a>
                    </li>
                    <li>
                        <a ng-click="hideMobile()" class="{{page=='access'?'selected':''}}" href="/access" ng-show="USER.type.id==1">Access</a>
                    </li>
                    <li>
                        <a ng-click="hideMobile()" class="{{page=='schedule'?'selected':''}}" href="/schedule" ng-show="USER.type.id==1">Schedule</a>
                    </li>
                </nav>
            </div>
            <div class="col-md-2 col-xs-6 title" ng-click="Begin()">Realtime</div>
            <div class="col-md-5 col-xs-4">
                <button class="ui button trans" ng-show="USER" ng-click="logOff()">Afmelden</button>
            </div>
        </div>
    </section>
</header>